<?xml version="1.0" encoding="utf-8"?>
<?define Version="1.1.464.0" ?>
<?define VersionMin="1.0.0.0" ?>
<?define UpgradeCode="672c2adb-fc86-41e4-83f4-5103b13ca79c"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Knowte" Language="1033" Version="$(var.Version)" Manufacturer="Digimezzo" UpgradeCode="$(var.UpgradeCode)">
    <Package Description="Knowte" Comments="Knowte" InstallerVersion="200" Compressed="yes" />
    <Media Id="1" Cabinet="Knowte.cab" EmbedCab="yes" />
    <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
    <Property Id="REINSTALLMODE" Value="amus"/>
    <!-- This should replace all components, even if their version didn't change -->
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.VersionMin)" Maximum="$(var.Version)" Property="PREVIOUSVERSIONSINSTALLED" IncludeMinimum="yes" IncludeMaximum="no" />
      <UpgradeVersion Minimum="$(var.Version)" IncludeMinimum="yes" OnlyDetect="yes" Property="NEWERVERSIONINSTALLED" />
    </Upgrade>
    <Condition Message="A newer version of this product has been detected on your system. Setup cannot continue and will now terminate."><![CDATA[NOT NEWERVERSIONINSTALLED]]></Condition>
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallFinalize"></RemoveExistingProducts>
    </InstallExecuteSequence>
    <!--<WixVariable Id="WixUILicenseRtf" Value="Knowte.License.rtf" />-->
    <WixVariable Id="WixUIBannerBmp" Value="Knowte.BannerBmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Knowte.DialogBmp.bmp" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Start Menu -->
      <Directory Id="ProgramMenuFolder" />
      <!--<Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="Knowte">
          <Component Id="StartMenuShortcuts" Guid="2460F63C-C91F-4C4E-9B48-C8CA68BF67A2">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\Raphael Godart\Knowte" Type="string" Value="" />
            <Shortcut Id="UninstallProduct" Name="Uninstall Knowte" Description="Uninstalls Knowte" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
          </Component>
        </Directory>
      </Directory>-->
      <!-- Program Files -->
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="INSTALLFOLDER" Name="Knowte">
          <!-- 3rd party licenses -->
          <Directory Id="LicensesDIR" Name="Licenses">
            <Component Id="DotNetZip.txt" DiskId="1" Guid="b8d7a5a2-4092-43c5-a712-72b6a26f28f3">
              <File Id="DotNetZip.txt" Name="DotNetZip.txt" Source="Licenses\DotNetZip.txt" />
            </Component>
            <Component Id="NLog.txt" DiskId="1" Guid="d87fd71f-fa31-45ba-ad16-bb4bf029eca4">
              <File Id="NLog.txt" Name="NLog.txt" Source="Licenses\NLog.txt" />
            </Component>
            <Component Id="Prism.txt" DiskId="1" Guid="d87fd70f-fa82-48ba-ad46-bb4bf029eca4">
              <File Id="Prism.txt" Name="Prism.txt" Source="Licenses\Prism.txt" />
            </Component>
            <Component Id="Unity.WCF.txt" DiskId="1" Guid="567a6de6-f675-47b1-b64f-51708a33c674">
              <File Id="Unity.WCF.txt" Name="Unity.WCF.txt" Source="Licenses\Unity.WCF.txt" />
            </Component>
            <Component Id="WiX.txt" DiskId="1" Guid="aacc0654-5254-4cb1-8b9e-3e49b5fec8bd">
              <File Id="WiX.txt" Name="WiX.txt" Source="Licenses\WiX.txt" />
            </Component>
          </Directory>
          <!-- Languages -->
          <Directory Id="LanguagesDIR" Name="Languages">
            <Component Id="EN.xml" DiskId="1" Guid="c7a55232-abe5-4947-aaaf-3a9fe67ffefd">
              <File Id="EN.xml" Name="EN.xml" Source="Languages\EN.xml" />
            </Component>
            <Component Id="FR.xml" DiskId="1" Guid="0a9ccecf-5ba2-47bb-bf8f-fe96c266b098">
              <File Id="FR.xml" Name="FR.xml" Source="Languages\FR.xml" />
            </Component>
            <Component Id="NL.xml" DiskId="1" Guid="2f664f1a-de42-49c6-a215-e627aec18fc9">
              <File Id="NL.xml" Name="NL.xml" Source="Languages\NL.xml" />
            </Component>
          </Directory>
          <!-- Application -->
          <Component Id="Knowte.exe" DiskId="1" Guid="c1245ea5-91ee-4a80-9ef1-54bcbc95a6be">
            <File Id="Knowte.exe" Name="Knowte.exe" Source="Knowte.exe">
              <!--<Shortcut Id="ExeShortcut" Directory="ProgramMenuDir" Name="Knowte" WorkingDirectory="INSTALLFOLDER" Advertise="yes" Icon="Knowte.exe" IconIndex="0" />-->
            <Shortcut Id="ExeShortcut" Directory="ProgramMenuFolder" Name="Knowte" WorkingDirectory="INSTALLFOLDER" Icon="Knowte.exe" IconIndex="0" />
            </File>
          </Component>
          <Component Id="Knowte.exe.config" DiskId="1" Guid="85F7EE38-CA0C-4E9D-A73D-E85A51FD1B16">
            <File Id="Knowte.exe.config" Name="Knowte.exe.config" Source="Knowte.exe.config" />
          </Component>
          <Component Id="License.txt" DiskId="1" Guid="95125c42-eed5-4b92-b4fc-7867395db64c">
            <File Id="License.txt" Name="License.txt" Source="License.txt" />
          </Component>
          <Component Id="Changelog.txt" DiskId="1" Guid="0d70b26b-fb62-4389-84b9-7053260aeaf4">
            <File Id="Changelog.txt" Name="Changelog.txt" Source="Changelog.txt" />
          </Component>
          <Component Id="BaseSettings.xml" DiskId="1" Guid="0d70b26b-fb62-4389-84b9-7053260deef5">
          <File Id="BaseSettings.xml" Name="BaseSettings.xml" Source="BaseSettings.xml" />
          </Component>
          <Component Id="Migrator.exe" DiskId="1" Guid="5a1a8ebf-6d8a-41a9-bfe9-7cbb52856334">
            <File Id="Migrator.exe" Name="Migrator.exe" Source="Migrator.exe" />
          </Component>
          <!-- Prism libraries -->
          <Component Id="Microsoft.Practices.ServiceLocation.dll" DiskId="1" Guid="f9676ca3-6645-41a0-be8f-50af101be52a">
            <File Id="Microsoft.Practices.ServiceLocation.dll" Name="Microsoft.Practices.ServiceLocation.dll" Source="Microsoft.Practices.ServiceLocation.dll" />
          </Component>
          <Component Id="Microsoft.Practices.Unity.dll" DiskId="1" Guid="f96093ed-2dce-4900-8aca-0c87e6704a80">
            <File Id="Microsoft.Practices.Unity.dll" Name="Microsoft.Practices.Unity.dll" Source="Microsoft.Practices.Unity.dll" />
          </Component>
          <Component Id="Microsoft.Practices.Unity.Configuration.dll" DiskId="1" Guid="84805e2e-1bfb-48e3-acbb-8c2023c644f4">
            <File Id="Microsoft.Practices.Unity.Configuration.dll" Name="Microsoft.Practices.Unity.Configuration.dll" Source="Microsoft.Practices.Unity.Configuration.dll" />
          </Component>
          <Component Id="Microsoft.Practices.Unity.RegistrationByConvention.dll" DiskId="1" Guid="cda49e3f-465f-4ab1-8216-54992b2e85f7">
            <File Id="Microsoft.Practices.Unity.RegistrationByConvention.dll" Name="Microsoft.Practices.Unity.RegistrationByConvention.dll" Source="Microsoft.Practices.Unity.RegistrationByConvention.dll" />
          </Component>
          <Component Id="Prism.dll" DiskId="1" Guid="038ee48f-ae96-49f7-9c63-71f131dddf04">
            <File Id="Prism.dll" Name="Prism.dll" Source="Prism.dll" />
          </Component>
          <Component Id="Prism.Unity.Wpf.dll" DiskId="1" Guid="c433cd83-afdd-48c4-90a0-16c99858dc8d">
            <File Id="Prism.Unity.Wpf.dll" Name="Prism.Unity.Wpf.dll" Source="Prism.Unity.Wpf.dll" />
          </Component>
          <Component Id="Prism.Wpf.dll" DiskId="1" Guid="2cce346c-7a6a-425e-b5f3-9937e9bc4252">
            <File Id="Prism.Wpf.dll" Name="Prism.Wpf.dll" Source="Prism.Wpf.dll" />
          </Component>
          <!-- Application libraries -->
          <Component Id="Knowte.Icons.dll" DiskId="1" Guid="AEC010A6-285D-4086-BAA0-E171847B5B91">
            <File Id="Knowte.Icons.dll" Name="Knowte.Icons.dll" Source="Knowte.Icons.dll" />
          </Component>
          <Component Id="Knowte.Core.dll" DiskId="1" Guid="AEC010A6-285D-4086-BAA0-E171847B5B93">
            <File Id="Knowte.Core.dll" Name="Knowte.Core.dll" Source="Knowte.Core.dll" />
          </Component>
          <Component Id="Knowte.InformationModule.dll" DiskId="1" Guid="AEC010A6-285D-4086-BAA0-E171847B5B94">
            <File Id="Knowte.InformationModule.dll" Name="Knowte.InformationModule.dll" Source="Knowte.InformationModule.dll" />
          </Component>
          <Component Id="Knowte.MainModule.dll" DiskId="1" Guid="AEC010A6-285D-4086-BAA0-E171847B5B96">
            <File Id="Knowte.MainModule.dll" Name="Knowte.MainModule.dll" Source="Knowte.MainModule.dll" />
          </Component>
          <Component Id="Knowte.NotesModule.dll" DiskId="1" Guid="AEC010A6-285D-4086-BAA0-E171857B5B96">
            <File Id="Knowte.NotesModule.dll" Name="Knowte.NotesModule.dll" Source="Knowte.NotesModule.dll" />
          </Component>
          <Component Id="Knowte.Common.dll" DiskId="1" Guid="AEC010B6-285D-4186-BAA1-E14A458B5B96">
            <File Id="Knowte.Common.dll" Name="Knowte.Common.dll" Source="Knowte.Common.dll" />
          </Component>
          <Component Id="Knowte.SettingsModule.dll" DiskId="1" Guid="AEC010B6-285D-4086-BAA1-E171858B5B96">
            <File Id="Knowte.SettingsModule.dll" Name="Knowte.SettingsModule.dll" Source="Knowte.SettingsModule.dll" />
          </Component>
          <!-- 3rd party libraries -->
          <Directory Id="x64DIR" Name="x64">
            <Component Id="SQLite.Interop.x64.dll" DiskId="1" Guid="4e32b2ee-38a2-41c0-bac8-f8881929840b">
              <File Id="SQLite.Interop.x64.dll" Name="SQLite.Interop.dll" Source="x64\SQLite.Interop.dll" />
            </Component>
          </Directory>
          <Directory Id="x86DIR" Name="x86">
            <Component Id="SQLite.Interop.x86.dll" DiskId="1" Guid="6d7b90e7-b5d8-4392-ae6f-7c0b07313f82">
              <File Id="SQLite.Interop.x86.dll" Name="SQLite.Interop.dll" Source="x86\SQLite.Interop.dll" />
            </Component>
          </Directory>
          <Component Id="NLog.dll" DiskId="1" Guid="bf864198-1193-4283-945a-e0b1aed971ee">
            <File Id="NLog.dll" Name="NLog.dll" Source="NLog.dll" />
          </Component>
          <Component Id="Digimezzo.WPFControls.dll" DiskId="1" Guid="6E1282E8-EC1B-4D18-BA9B-65ED1748C0D7">
            <File Id="Digimezzo.WPFControls.dll" Name="Digimezzo.WPFControls.dll" Source="Digimezzo.WPFControls.dll" />
          </Component>
          <Component Id="System.Windows.Interactivity.dll" DiskId="1" Guid="DEDFC253-37CD-4DB6-A8FA-1C9AE41B7A79">
            <File Id="System.Windows.Interactivity.dll" Name="System.Windows.Interactivity.dll" Source="System.Windows.Interactivity.dll" />
          </Component>
          <Component Id="DotNetZip.dll" DiskId="1" Guid="bf864098-1193-4283-945a-e0b1aed961ee">
            <File Id="DotNetZip.dll" Name="DotNetZip.dll" Source="DotNetZip.dll" />
          </Component>
          <Component Id="SQLite.Net.dll" DiskId="1" Guid="d2e4532c-0000-46f0-b18d-4251db8d009d">
            <File Id="SQLite.Net.dll" Name="SQLite.Net.dll" Source="SQLite.Net.dll" />
          </Component>
          <Component Id="SQLite.Net.Platform.Win32.dll" DiskId="1" Guid="555869e6-ce8c-4e39-a3ab-de7713acf753">
            <File Id="SQLite.Net.Platform.Win32.dll" Name="SQLite.Net.Platform.Win32.dll" Source="SQLite.Net.Platform.Win32.dll" />
          </Component>
          <Component Id="System.Data.SQLite.dll" DiskId="1" Guid="8a3d5547-be5b-4ba2-a70e-278f57f14888">
            <File Id="System.Data.SQLite.dll" Name="System.Data.SQLite.dll" Source="System.Data.SQLite.dll" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
      <!-- Languages -->
      <ComponentRef Id="EN.xml" />
      <ComponentRef Id="FR.xml" />
      <ComponentRef Id="NL.xml" />
      <!-- 3rd party licenses -->
      <ComponentRef Id="DotNetZip.txt" />
      <ComponentRef Id="NLog.txt" />
      <ComponentRef Id="Prism.txt" />
      <ComponentRef Id="Unity.WCF.txt" />
      <ComponentRef Id="WiX.txt" />
      <!-- Application -->
      <ComponentRef Id="Knowte.exe" />
      <ComponentRef Id="Knowte.exe.config" />
      <ComponentRef Id="License.txt" />
      <ComponentRef Id="Changelog.txt" />
      <ComponentRef Id="BaseSettings.xml" />
      <ComponentRef Id="Migrator.exe" />
      <!-- Prism libraries -->
      <ComponentRef Id="Microsoft.Practices.ServiceLocation.dll" />
      <ComponentRef Id="Microsoft.Practices.Unity.dll" />
      <ComponentRef Id="Microsoft.Practices.Unity.Configuration.dll" />
      <ComponentRef Id="Microsoft.Practices.Unity.RegistrationByConvention.dll" />
      <ComponentRef Id="Prism.dll" />
      <ComponentRef Id="Prism.Unity.Wpf.dll" />
      <ComponentRef Id="Prism.Wpf.dll" />
      <!-- Application libraries -->
      <ComponentRef Id="Knowte.Icons.dll" />
      <ComponentRef Id="Knowte.Core.dll" />
      <ComponentRef Id="Knowte.InformationModule.dll" />
      <ComponentRef Id="Knowte.MainModule.dll" />
      <ComponentRef Id="Knowte.NotesModule.dll" />
      <ComponentRef Id="Knowte.Common.dll" />
      <ComponentRef Id="Knowte.SettingsModule.dll" />
      <!-- 3rd party libraries -->
      <ComponentRef Id="NLog.dll" />
      <ComponentRef Id="Digimezzo.WPFControls.dll" />
      <ComponentRef Id="System.Windows.Interactivity.dll" />
      <ComponentRef Id="DotNetZip.dll" />
      <ComponentRef Id="SQLite.Net.dll" />
      <ComponentRef Id="SQLite.Net.Platform.Win32.dll" />
      <ComponentRef Id="System.Data.SQLite.dll" />
      <ComponentRef Id="SQLite.Interop.x64.dll" />
      <ComponentRef Id="SQLite.Interop.x86.dll" />
      <!-- Start Menu -->
      <!--<ComponentRef Id="StartMenuShortcuts" />-->
    </Feature>

    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <!-- Skip licence dialog -->
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
			<Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>

      <!-- Add option to launch application after install is finished -->
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Knowte" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <!-- This just defines an icon that can be used anywhere else -->
    <Icon Id="Knowte.exe" SourceFile="Knowte.exe" />

    <!-- This adds an icon for Add/Remove Programs. The Value is the Id of the Icon defined above -->
    <Property Id="ARPPRODUCTICON" Value="Knowte.exe" />

    <Property Id="WixShellExecTarget" Value="[#Knowte.exe]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
  </Product>
</Wix>