<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="net461" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.102.0" targetFramework="net461" />
</packages>